@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}


.logo {
  float: right;
  margin-top: 25px;
  margin-right: 15px;
}

.header {
  padding: 50px 0;
  text-transform: uppercase;
}
/*pipe character*/

.project {
  font-size: 1.25em;
  padding: 0 5px;
}

.project__history {
  font-size: 3em;
  text-align: center;
  padding: 50px 0;
}

.project__name {
  font-family: 'Montserrat';
  font-size: 2.25em;
  padding: 50px 0;
}

.project__details {
  font-size: 1.5em;
  line-height: 1.75em;
  padding: 50px 0;
}

.project-writeup {
  padding: 50px 0;
}

.project-image-first {
  max-width: 500px;
  margin-top: 120px;
  padding: 10px 10px;

}

.project-image-first img {
  margin: 0 auto;
}

.project-image-second {
  max-width: 500px;
  padding: 10px 10px;
}

.project-image-second img {
  margin: 0 auto;
}

.project-text {
  font-size: 1.25em;
}

.subcontractor-references {
}

.subcontractor {
  padding-left: 20px;

}

.subcontractor-name {
  padding-left: 40px;
}

.subcontractor-name:before {
  content: '- '
}
