@import url('https://fonts.googleapis.com/css?family=Nixie+One|Open+Sans');

body {
  font-family: 'Nixie One', sans-serif;
}

.navbar-default {
  background: rgba(0,0,0,0);
  box-shadow: none;
  border-bottom: none;
}

.header__nav {
  color: #f4f4f4;
}

.navbar .navbar-nav {
  margin-top: 5px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
  color: #f4f4f4;
  font-size: 1.25em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #888;
}


.navbar .navbar-collapse {
}

.header {
  min-height: 800px;
  flex-direction: column;
  background-color: #c9ac8a;
}

.header__sidebar {
}

.header__image {
  overflow: hidden;
}

.header__image img {
  height: 800px;
}

.header-bg  {
  background: url('../images/homePage2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 800px;
}

.logo img {
  width: 200px;
  padding: 10px 50px;
}

.menu {
  color: #036635;
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
  margin-left: 25px;
  margin-top: 50px;
}

.header__logo {
  margin-top: 25px;
  margin-left: 5px;
}

.tagline {
  color: #036635;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 30px;
  margin-left: 25px;
}

.contact {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 25px;
}

.showcase {
  padding: 0 0 50px;
}


.showcase__img img {
  margin: 15px auto;
}

.showcase__head h2 {
  padding: -100 0 45px;
  text-align: center;
  font-size: 2em;
  /*font-family: 'Montserrat', serif;*/
}

.showcase__body {
  text-align: left;
  margin-left: 25px;
  font-size: 1.5em;
}

.showcase__button {
  text-align: center;
  font-weight: 700;
  font-size: 1.25em;
  padding: 5px;
}

.showcase__button a {
  text-decoration: none;
  color: #CC0035;
}

.about {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('../images/LibertyTheaterScaffold.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  border-bottom: 5px solid #fff;
  padding: 25px 0;
}

.about__text {
  color: #f4f4f4;
  margin-top: 50px;
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 0 2px 2px #000;
}

.features {
  background-color: #d1d1d1;
  text-transform: uppercase;
  padding: 50px 0;
  text-align: center;
}

.feature img {
  height: 250px;
  margin: 0 auto;
}

.clients {
  padding: 50px 0;
}



/* FOOTER ----------- */
.footer {
  padding: 50px;
  background-color: #272727;
  color: #f4f4f4;
  text-align: center;
  font-family: 'Nixie One', sans-serif;`
  font-weight: 600;
}

.footer__logo img {
  width: 400px;
  padding: 15px 0;
}

.footer__facebook {
  font-size: 50px;
  color: #3b5998;
  padding: 15px 15px;
  vertical-align: middle;
}

.footer__address {
  padding: 10px 0;
  font-size: 1.25em;
}

.footer__office-hours {
  padding: 10px 0;
  font-size: 1.25em;
}

.footer__phone {
  font-size: 24px;
  vertical-align: middle;
}

.footer__nav {
  padding: 15px 0 5px;
  font-size: 1.25em;
}

.footer__nav a {
  color: #fff;
  text-decoration: none;
}

.footer__facebook-text {
  color: #fff;
}

.header-sub {
  background-color: #888;
}



.team {
  padding: 50px 0;
}

h1.team__header {
  font-size: 50px;
}

.team__image {
  height: 500px;
  /*float: right;*/
  margin-right: 525px;
  padding: 20px;
}

.team__image--wide {
  width: 500px;
}

.team__desc {
  width: 100%;
  margin-top: 50px;
}





/* SUBPAGES **********************/
.subpage {
  font-size: 1.5em;
  padding: 50px 0;
}

.subpage__header {
  background-color: #336699;
}

.subpage__header-phone {
  margin-top: 20px;
}

.subpage__header-phone a {
  color: #fff;
}

.project-name {
  font-size: 22px;
  padding: 15px;
  height: 65px;
  overflow: hidden;
}

.project-image {

}

/* Project images should be cropped 1.33:1 crop ratio*/
.project-image img {
  width: 500px;
}

.forms {
  font-size: 24px;
}

.forms__header {
  text-align: center;
}

.forms__list {
  text-align: center;
  line-height: 2em;
}

/* TESTIMONIALS ******************/
.testimonials {
  padding: 50px 0;
}

h2.testimonials__sub {
  margin-bottom: 50px;
}

.testimonial__text {
  padding: 100px 0 0;
}

.testimonial__source {
  font-family: 'Montserrat', sans-serif;
  font-size: .85em;
  font-weight: 600;
}



/* HISTORY PAGE ************************/
.history {
  padding: 50px;
}

p.history__text {
  font-size: 18px;
  line-height: 1.2em;
}




/*
@media (max-width: 1300px) {
  .header {
    min-height: 800px;
  }

  .header-bg  {
    background: url('../images/AstoriaFord-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 800px;
  }

  .hero__text {
    font-size: 30px;
    margin: -575px 85px;
  }

  .header__phone {
    font-size: 20px;
    margin-left: 500px;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 1em;
  }

  .logo {
    margin-left: 50px;
  }

  .logo img {
  }

  .hero__text--large {
    font-size: 36px;
  }

  .showcase__head h2 {
    font-size: .75em;
  }
}*/


@media ( max-width:  1299px) {

  .hero__text {
    font-size: 22px;
  }

  .hero__text--large {
    font-size: 26px;
  }

  .logo img {
    width: 400px;
  }

}


@media (min-width: 1200px and max-width: 1299px) {
  .header__phone {
    margin-left: 750px;
  }
}


@media (max-width: 990px) {
  .header {
    min-height: 600px;
  }


  .logo {
    margin-left: 0px;
  }

  .logo img {
    width: 350px;
  }

  .header__phone {
    margin-left: 335px;
    margin-top: 100px;
  }

  .hero__text {
    font-size: 18px;
    margin: 50px 100px;
  }

  .hero__text--large {
    font-size: 30px;
  }

  .showcase__img img {
    /*max-width: 600px;*/
  }

  .navbar-toggle {
    margin-top: 50px;
  }

  .about {
    height: 400px;
  }
}

@media (max-width: 450px) {
/*  .header__phone {
    position: absolute;
    right: 400px;
    top: 25px;
    color: #fff;

  }*/

  .logo {
    margin-top: 30px;
  }

  .logo img {
    width: 250px;
  }

  .navbar-toggle  {
    margin-top: 50px;
  }

}



