@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif:400,700');

body {
  font-size: 2.25em;

}

.navbar-default {
  background: rgba(51,102,153, .65);
}

.navbar-brand img {
  margin-top: 3px;
}

.navbar-default .navbar-nav>li>a {
  color: #e9e9e9;
  padding: 15px 25px;
  font-size: 1.25em;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: #888;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}